/*HEARDER*/
#header{
    background-color: dodgerblue;
    height: 20vh;
    text-align: center;
    padding: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*HEADINGS*/
h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 50px;
    line-height: 62px;
}

h2 {
    font-size: 32px;
    line-height: 42px;
}

h3 {
    font-size: 22px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*SUMMARY*/
#summary{
    color: dodgerblue;
}

/*EDUCATION*/
#education{
    color: dodgerblue;
}

/*EXPERIENCE*/
#experience{
    color: dodgerblue;
}

/*SKILLS*/
#skills{
    color: dodgerblue;
}

/*BODY*/
div{
    padding-left: 20px;
}

body{
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    line-height: 28px;
    text-align: start;
    overflow-x: hidden !important;
    margin: auto !important;
}
/* FOOTER */
#footer {
    border-top: 1px solid #ccc;
    padding: 25px 0px;
    background-color: dodgerblue;
}

#footer p {
    margin: 0px 0px -5px;
    text-align: center;
    color: white;
}

#footer .social {
    float: right;
}

#footer .fa {
    font-size: 24px;
    color: rgba(22, 182, 234, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#footer .fa:hover {
    color: #008ed6;
}